h1 {
color: black;
}
h2 {
color: blue;
}
h3 {
color: blue;
}
header {
background-color: yellow;
}
ul.nav {
	list-style-type: square;
	background-color: orange;
}

header.resume {
	padding-top: 5%
	text-align: center;
