h1 {
color: black;
}
h2 {
color: blue;
}
h3 {
color: blue;
}
header {
background-color: green;
}
ul.nav {
	list-style-type: square;
	background-color: grey;
}

header.resume {
	padding-top: 5%
	text-align: center;
<ul class="a">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Coca Cola</li>
</ul>
